# SPARQL Queries to Yelp Businesses and Reviews in Boston

In [28]:
from SPARQLWrapper import SPARQLWrapper, JSON

yelp_sparql_endpoint = 'http://192.168.60.113/jena/fuseki/yelp_Boston/query'

def sparql_query(endpoint, query):
    sparql = SPARQLWrapper(endpoint)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    for result in results["results"]["bindings"]:
        yield result

In [29]:

business_id = "jGennaZUr2MsJyRhijNBfA"

# 1 Business entry
print("\n------ 1 Business -----\n")
query_1_business = """
PREFIX myonto: <https://myontology.com#>
SELECT *
WHERE {        
    ?s a myonto:business ;
        myonto:business_id '%s' ;
        ?p ?v .
}
""" % business_id
for result in sparql_query(endpoint=yelp_sparql_endpoint, query=query_1_business):
    # print(result, '\n')
    print(result['s']['value'], result['p']['value'], result['v']['value'])

------ 1 Business -----

b0 http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://myontology.com#business
b0 https://myontology.com#address 1 Harborside Dr
b0 https://myontology.com#attributes b1
b0 https://myontology.com#business_id jGennaZUr2MsJyRhijNBfA
b0 https://myontology.com#categories Sandwiches, Food, Restaurants, Breakfast & Brunch, Seafood, Italian, Beer, Wine & Spirits, Cocktail Bars, Gluten-Free, Nightlife, Bars, Salad
b0 https://myontology.com#city Boston
b0 https://myontology.com#hours b2
b0 https://myontology.com#is_open 1
b0 https://myontology.com#latitude 42.36344
b0 https://myontology.com#longitude -71.02578
b0 https://myontology.com#name Legal Sea Foods
b0 https://myontology.com#postal_code 02128
b0 https://myontology.com#review_count 856
b0 https://myontology.com#stars 3.5
b0 https://myontology.com#state MA

In [30]:

# 1 Review entry 

print("\n------ 1 Review -----\n")

review_id = 'CuXWfJvlxOAqJvqqAsHvGQ'
query_1_review = """
PREFIX myonto: <https://myontology.com#>
SELECT *
WHERE {        
    ?s a <https://myontology.com#review> ;
        <https://myontology.com#business_id> '%s' ;
        myonto:review_id '%s' ;
        ?p ?v .  
}
""" % (business_id, review_id)

for result in sparql_query(endpoint=yelp_sparql_endpoint, query=query_1_review):
    # print(result, '\n')
    print(result['s']['value'], result['p']['value'], result['v']['value'][0:100])


# total amount of Business

# total amount of Reviews

------ 1 Review -----

b0 http://www.w3.org/1999/02/22-rdf-syntax-ns#type https://myontology.com#review
b0 https://myontology.com#business_id jGennaZUr2MsJyRhijNBfA
b0 https://myontology.com#stars 5.0
b0 https://myontology.com#cool 0
b0 https://myontology.com#date 2017-04-07 21:23:38
b0 https://myontology.com#funny 0
b0 https://myontology.com#review_id CuXWfJvlxOAqJvqqAsHvGQ
b0 https://myontology.com#text Never in years of Legal Seafood dedication have I had a bad meal here, EVER. A crab roll comes on a
b0 https://myontology.com#useful 1
b0 https://myontology.com#user_id pDIZYh9dIWKc2qUHO7j9Ww

In [31]:
# business and its review ratings
print("\n------ 1 Business and its review ratings -----")
query_business_ratings = """
PREFIX myonto: <https://myontology.com#>
SELECT * WHERE {
    { 
       ?b a myonto:business ;
            myonto:business_id '%s' ;
    		myonto:name ?name .
    }
    UNION
    {
        ?s a myonto:review ;
            myonto:business_id '%s' ;
            myonto:review_id ?review_id ;
            myonto:stars ?stars .
    } 
}
""" % (business_id, business_id)
name = [result['name']['value'] for result in sparql_query(endpoint=yelp_sparql_endpoint, query=query_business_ratings) if 'name' in result.keys()][0]
print(name)
ratings = [(float(result['stars']['value']), result['review_id']['value']) for result in sparql_query(endpoint=yelp_sparql_endpoint, query=query_business_ratings) if 'name' not in result.keys()]
for r in ratings:
    print(f"review id: {r[1]} rating: {r[0]}")

------ 1 Business and its review ratings -----
Legal Sea Foods
review id: CuXWfJvlxOAqJvqqAsHvGQ rating: 5.0
review id: aEQYyplGz49P27ReS-ZxPQ rating: 4.0
review id: t9y73mLe2OVqJj77wmSOGA rating: 4.0
review id: QY5stmVK2VbMcZgd3aCp1Q rating: 3.0
review id: N9XGQ8XF0QbC-dUljbJGMQ rating: 3.0
review id: KP-aaU1qyXX0vXYp-xoUpQ rating: 4.0
review id: OxXxDy4v7u-hQpWiv8iD0w rating: 4.0
review id: ZuqgEx6e17T0QoNE3b6vZA rating: 4.0
review id: tFbkFDeA92rdsu7Gq_4WgA rating: 4.0
review id: RowpRuXs3mZb4TxRAOqV6g rating: 4.0
review id: zavJGqwNHKMopoA7wug3mw rating: 3.0
review id: 4nYn5GPRUhHqKLtFybCR_w rating: 5.0
review id: 1BKurTYVIxkGRYc4LpDPpg rating: 5.0
review id: qHddOgaFwA94VYeYOIZOyA rating: 5.0
review id: FH-PZcx6kZuMQEkzZ2Ur0g rating: 4.0
review id: Uk3fndQZexMr6Y-eAmgahQ rating: 4.0
review id: Bpsa9W74u1vTi2zPXRXdMw rating: 1.0
review id: bXUkEyW81uBPgz4H0Ui1WA rating: 4.0
review id: smi6_zjKbrZHzFEqXSDa0w rating: 4.0

In [32]:
# Avarage of a business's MIN, MAX, AVERAGE
print("\n------ 1 Business MIN, MAX, AVERAGE review ratings -----")
query_business_min_max = """
PREFIX myonto: <https://myontology.com#>
SELECT (AVG(?stars) AS ?avg) 
       (MIN(?stars) AS ?min) 
       (MAX(?stars) AS ?max)
       (COUNT(?review_id) as ?total)
    WHERE  {     
        ?s a myonto:review ;
            myonto:business_id '%s' ;
            myonto:review_id ?review_id ;
            myonto:stars ?stars
    } 
""" % (business_id)

results = sparql_query(endpoint=yelp_sparql_endpoint, query=query_business_min_max)
result = list(results)[0]
formatted_result = f"Business {business_id} has a Rating: \n\
* Average of: {result['avg']['value']}\n\
* Minimum of: {result['min']['value']}\n\
* Maximum of: {result['max']['value']}\n\
In a total of {result['total']['value']} of reviews"
print(formatted_result)

------ 1 Business MIN, MAX, AVERAGE review ratings -----
Business jGennaZUr2MsJyRhijNBfA has a Rating:
* Average of: 3.8947368
* Minimum of: 1.0
* Maximum of: 5.0
In a total of 19 of reviews

In [33]:
print("\n------ Average rating of all businesses in Boston -----")
query_all_businesses_avg = """
PREFIX myonto: <https://myontology.com#>
SELECT 
(AVG(?stars) AS ?avg_r) 
(COUNT(?r_id) AS ?total_r)
(COUNT(DISTINCT ?b_id) AS ?total_b)
# ?r_id ?r_b_id ?b_id ?stars

WHERE  {
    ?r a myonto:review ;
       myonto:business_id ?b_id ;
       myonto:review_id ?r_id ;
       myonto:business_id ?r_b_id ; # ?b_id & ?r_b_id should match
       myonto:stars ?stars .
    {
    SELECT ?b_id
    WHERE {
      ?s a myonto:business ;
         myonto:business_id ?b_id ;
         myonto:city "Boston" .
      }
    }
} 
"""
results = sparql_query(endpoint=yelp_sparql_endpoint, query=query_all_businesses_avg)
# print(list(results))
result = list(results)[0]
formatted_result = f"Boston businesses have a Rating: \n\
* Average of {result['avg_r']['value']}\n\
* In a total of {result['total_r']['value']} of Reviews\n\
* In a total of {result['total_b']['value']} Businesses"
print(formatted_result)

------ Average rating of all businesses in Boston -----
Boston businesses have a Rating:
* Average of 3.6159084
* In a total of 2791 of Reviews
* In a total of 439 Businesses

In [34]:
# the business with the highest ratings